Source: multiboot-extras
Section: user/system
Priority: extra
Maintainer: Jay Cartman <jay.cartman@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: multiboot-kernel-maemo
Architecture: armel
Depends: multiboot (>= 0.2.10)
Description: Maemo 5 PR12 kernel for multiboot
 This package installs the linux kernel image for Maemo 5 PR12,
 to be used with multiboot (>0.2.3).
 .
 This package is maintained by Jay Cartman <jay.cartman@gmail.com>
 .
XB-Maemo-Display-Name: Maemo 5 PR12 kernel for multiboot
XB-Maemo-Flags: system-update

Package: multiboot-kernel-power
Architecture: armel
Depends: multiboot (>= 0.2.10), kernel-power-modules (>= 2.6.28-maemo40), kernel-power-bootimg (>= 2.6.28-maemo40)
Suggests: kernel-power-settings
Description: Maemo 'kernel-power' configuration for multiboot
 This package installs the kernel-power configuration,
 to be used with multiboot (>0.2.10).
 .
 This package is maintained by Jay Cartman <jay.cartman@gmail.com>
 .
XB-Maemo-Display-Name: Maemo kernel-power config for multiboot
XB-Maemo-Flags: system-update
